body {
    background-color: rgb(247, 229, 232);
    font-family: "outfit", serif;
    font-size: 14px;
}


.about {
    background: white;
    padding: 2.5rem 3em;
    margin: 10px auto;
    width: 90%;
    border-radius: 18px;
    border-radius: 18px;
    max-width: 500px;
    line-height: 2.0;
    color: gray;
    
}

.omelette {
    width: 100%;
    border-radius: 18px;
   
}

.h1 {
    color: black;
    font-size: bold;
    font-family: "outfit", serif;
    font-weight: 700;
    font-size: 37px;
    padding-bottom: 1px;
    text-align: justify;
    line-height: 1.0;
}

.h2 {
    color: rgb(173, 65, 65);
    font-size: 18px;
}

.Preparation {
    background-color: rgb(252, 244, 246);
}

.Pre {
    color:rgb(197, 108, 138);
}

.Nutrition {
    width: 70%;

}

.kcal {
    color: rgb(173, 65, 65);
}

.g {
    color: rgb(173, 65, 65);
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
   td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  hr { 
    display: block;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 